@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply font-poppins text-neutral-900;
}

hr {
  @apply border-neutral-100;
}

.math > * [aria-hidden="true"] {
  display: none;
}


.math.math-inline {
  @apply text-2xl;
}

p:has(.math.math-inline) {
  @apply block w-full overflow-x-auto;
}

.prose {
  max-width: 100%;
  @apply text-neutral-900;

  a {
    @apply hover:text-primary transition-colors duration-300 break-words;
  }

  table {
    @apply block overflow-x-auto;
  }

  pre {
    @apply rounded-none;
  }
}

/* HIGHLIGHT.JS */
pre {
  code.hljs {
    background: transparent !important;
    padding: 0 !important;
    display: block;
    overflow: initial !important;
  }
}

.swiper-overflow {
  &.swiper, .swiper {
    overflow: hidden;
    @apply flex flex-col-reverse;
  }

  .swiper-pagination {
    @apply static;
    .swiper-pagination-bullet {
      @apply rounded-none;
    }

    .swiper-pagination-bullet-active {
      @apply bg-primary;
    }
  }
}

.swiper {
  .swiper-button-prev, .swiper-button-next {
    @apply text-primary;
  }
}

#BR-GO {
  @apply text-primary;
}

.game-image {
  &:hover {
    background-size: 105%;
  }
}

@for $i from 1 through 10 {
  .truncate-#{$i} {
    display: -webkit-box;
    -webkit-line-clamp: #{$i};
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@for $i from 1 through 10 {
  .truncate-#{$i} {
    display: -webkit-box;
    -webkit-line-clamp: #{$i};
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}